table{
    width: 100%;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}
tr:nth-child(even) {background-color: hsl(0, 71%, 91%);}
th {
    background-color: #f58282;
    color: white;
}
tr:hover {background-color: rgb(255, 170, 167);}

th.mat-sort-header-sorted {
  color: black;
}